*.ags
*.odc
*.pyc
*.sde
*.sublime-workspace
*.suo
*.user
.DS_Store
.grunt/
api/*/bin
api/*/obj
api/*/packages
deploy
dist/
node_modules/
secrets.json
src/agrc/
src/app/**/*.css
src/bootstrap/
src/components-jasmine/
src/dgrid/
src/dgrid1/
src/dijit/
src/dijit-themes/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/highcharts-release/
src/ijit/
src/agrc-jasmine-matchers/
src/dojo-themes/
src/dstore/
src/moment/
src/layer-selector/
src/jasmine-favicon-reporter/
src/jasmine-jsreporter/
src/jquery/
src/ladda-bootstrap/
src/moment/
src/mustache/
src/proj4/
src/put-selector/
src/spin.js/
src/spinjs/
src/stubmodule/
src/util/
src/xstyle/
*.pubxml
appsettings.*.json
