.filter-county
    label
        margin-left 0
        &.button
            display block
            height 100%
    .item
        display table-cell
        float none
        height 0
    .row
        display table
        width 100%
        table-layout fixed
