.filter-county
    label
        margin-left 0
        line-height 2.2em
        &.button
            display block
            height 25px
    .item
        display table-cell
        float none
        height 0

    .row
        display table
        width 100%
        table-layout fixed
