.filter-factors input[type=checkbox] {
    position: absolute;
    opacity: 0;
    display: none;
}
.filter-factors label {
    width: 100%;
    text-align: center;
    font-weight: inherit;
    display: table-cell;
    vertical-align: middle;
}
.filter-factors .row {
    width: 100%;
    margin: 0;
}
.filter-factors .col {
    float: left;
    width: 50%;
    height: 45px;
    padding: 5px;
    border: 1px solid #231F20;
    display: table;
    table-layout: fixed;
    overflow: hidden;
}
.filter-factors .selected {
    background-color: #f5bd47;
}
.filter-factors .row:last-child .col:first-child {
    border-radius: 0 0 0 10px;
}
.filter-factors .row:last-child .col:last-child {
     border-radius: 0 0 10px 0;
}