.results-panel
    height 100%
    background-color #fff
    z-index 100
    padding 15px
    position relative
    .chart
        height 200px
        width 50%
    .panel
        margin-bottom 0px
    .panel-default
        height 100%
        width 100%
        overflow hidden
    .panel-body
        height 100%
        width 100%
        overflow-y auto
        overflow-x hidden