.results-panel {
    height: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 15px;
    position: relative;
}
.results-panel .chart{
    height: 200px;
    width: 50%;
}
.results-panel .panel {
    margin-bottom: 0px;
}
.results-panel .panel-default {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.results-panel .panel-body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}