.results-panel
    height 100%
    width 100%
    position inherit
    background-color #fff
    z-index 100
    padding 15px
    .ct-chart
        max-height: 400px
    .panel
        margin-bottom 0px
    .panel-default
        height 100%
        overflow hidden
    .panel-body
        height: 100%
        overflow-y auto
