.results-panel
    height 100%
    width 100%
    position inherit
    background-color #fff
    z-index 100
    padding 15px
    .ct-chart
        max-height: 400px
    .panel
        margin-bottom 0px
    .panel-default
        height 100%
        overflow hidden
    .panel-body
        height 100%
        overflow-y auto
    .panel-title
        text-align center
    .comparison
        position absolute
        right 60px
        top 26px
@media print
    body
    html
    .app
        overflow visible !important
    .results-panel
        position static
        .panel-default
        .panel-body
            overflow-y auto !important
            overflow-x hidden !important
        .comparison
            display none
    .center-container
        overflow visible !important
        position static !important
