<div class="row">
    <div><strong><h5>{{filterType}}</h5></strong></div>
</div>
<div class="row">
      {{#date}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>Date</strong></p>{{date}}</div>
      {{/date}}
      {{#milepost}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>Milepost</strong></p>{{milepost}}</div>
      {{/milepost}}
      {{#counties}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>County</strong></p>{{counties}}</div>
      {{/counties}}
      {{#factors}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>Factors</strong></p>{{factors}}</div>
      {{/factors}}
      {{#severity}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>Severity</strong></p>{{severity}}</div>
      {{/severity}}
      {{#weatherConditions}}
      <div class="col-xs-6 col-sm-2 col-md-2"><p><strong>Weather</strong></p>{{weatherConditions}}</div>
      {{/weatherConditions}}
</div>
