<div>
    <div class='title-container'>
        <h1>
            <span class='title'>Utah Vehicle Collisions</span>
            <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
        </h1>
        <img src="app/resources/agrc_logo.jpg" alt="agrc logo">
    </div>
    <div data-dojo-attach-point='sideBar' class='side-bar-container container-with-border'>
        <div data-dojo-attach-point='filterDateNode'></div>
        <div data-dojo-attach-point="filterDrawNode"></div>
        <div data-dojo-attach-point='filterSeverityNode'></div>
        <div data-dojo-attach-point='filterFactorsNode'></div>
        <div data-dojo-attach-point='filterControlsNode'></div>
        <div data-dojo-attach-point='advancedFilterContainerNode'></div>
    </div>
    <div data-dojo-attach-point='centerContainer' class='center-container container-with-border'>
        <div data-dojo-attach-point='sidebarToggle'></div>
        <div data-dojo-attach-point='mapDiv'></div>
    </div>
</div>
