<div>
    <div class='title-container'>
        <span class='diamond'></span>
        <h1>
            <span class='title'>Utah Vehicle</span> <span class="highlight">Collisions</span>
            <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
        </h1>
    </div>
    <div data-dojo-attach-point='sideBar' class='side-bar-container'>
        <div data-dojo-attach-point='filterDateNode'></div>
        <div data-dojo-attach-point='filterSeverityNode'></div>
        <div data-dojo-attach-point='filterFactorsNode'></div>
        <div data-dojo-attach-point='filterControlsNode'></div>
        <div data-dojo-attach-point='advancedFilterContainerNode'></div>
    </div>
    <div data-dojo-attach-point='centerContainer' class='center-container'>
        <div data-dojo-attach-point='mapDiv'></div>
    </div>
</div>
