<div>
    <div class="pad"></div>
    <span class="label label-primary separator">Counties</span>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="BEAVER"/>Beaver</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="BOX ELDER"/>Box Elder</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="CACHE"/>Cache</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="CARBON"/>Carbon</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="DAGGET"/>Dagget</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="DAVIS"/>Davis</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="DUCHESNE"/>Duchesne</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="EMERY"/>Emery</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="GARFIELD"/>Garfield</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="GRAND"/>Grand</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="IRON"/>Iron</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="JUAB"/>Juab</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="KANE"/>Kane</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="MILLARD"/>Millard</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="MORGAN"/>Morgan</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="PIUTE"/>Piute</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="RICH"/>Rich</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="SALT LAKE"/>Salt Lake</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="SAN JUAN"/>San Juan</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="SANPETE"/>Sanpete</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="SEVIER"/>Sevier</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="SUMMIT"/>Summit</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="TOOELE"/>Tooele</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="UINTA"/>Uinta</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="UTAH"/>Utah</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="WASATCH"/>Wasatch</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="WASHINGTON"/>Washington</label>
        </div>
        <div class="item">
            <label class="button"><input type="checkbox" value="WAYNE"/>Wayne</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button"><input type="checkbox" value="WEBER"/>Weber</label>
        </div>
        <div class="item text-center">
            <button type='button' data-dojo-attach-event='click:_reset' class='btn btn-xs btn-link'>clear all</button>
        </div>
    </div>
</div>
