<div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="pedestrian" /> Pedestrian
            </label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="animal_domestic" /> Domestic Animal</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="animal_wild" /> Wild Animal</label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="bicycle" /> Bicycle
            </label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="motorcycle" /> Motorcycle
            </label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="commercial_vehicle" /> Commercial Vehicle</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="dui" /> DUI/Impaired</label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="teenager" /> Teenage Driver</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="elder" /> Older Driver</label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="intersection" /> Intersection
            </label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="dark" /> Night or Dark</label>
        </div>

        <div class="item">
            <label class="button">
                <input type="checkbox" value="*Exceeded Posted Speed Limit,Too Fast for Conditions,Street Racing" /> Speeding</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class="button">
                <input type="checkbox" value="unrestrained" /> Unrestrained</label>
        </div>
        <div class="item">
            <label class="button">
                <input type="checkbox" value="improper_restraint" /> Improper Restraint</label>
        </div>
    </div>
</div>
