<div>
    <div class="pad"></div>
    <span class="label label-primary separator pad">Between Mileposts</span>
    <div class='row'>
        <div class="col">
            <label class='filter'>Route</label>
        </div>
        <div class="col">
            <select class='form-control' data-dojo-attach-event='onchange: _gatherData' data-dojo-attach-point='routeNode'>
                <option value="" disabled selected>Select the route</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class="col">
            <label class='filter'>Starting Milepost</label>
        </div>
        <div class="col">
            <input class='form-control' data-dojo-attach-event='onchange: _gatherData' type='number' data-dojo-attach-point='startNode' placeholder='0' />
        </div>
    </div>
    <div class='row'>
        <div class="col">
            <label class='filter'>Ending Milepost</label>
        </div>
        <div class="col">
            <input class='form-control' data-dojo-attach-event='onchange: _gatherData' type='number' data-dojo-attach-point='endNode' placeholder='0' />
        </div>
    </div>
</div>
