<div>
    <div class="form-group text-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" data-dojo-attach-event="click:filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            <button type="button" class="btn btn-info" data-dojo-attach-event="click:toggleCharts"><span class="glyphicon glyphicon-stats"></span> Charts</button>
            <button type="button" class="btn btn-danger" data-dojo-attach-event="click:reset"><span class="glyphicon glyphicon-remove-circle"></span> Reset</button>
        </div>
    </div>
</div>
