<div>
    <div class="row">
        <div class="item">
            <label class='button'><input type="checkbox" value="Clear" />
            Clear</label>
        </div>
        <div class="item">
            <label class='button'><input type="checkbox" value="Cloudy" />
            Cloudy</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class='button'><input type="checkbox" value="Rain" />
            Rain</label>
        </div>
        <div class="item">
            <label class='button'><input type="checkbox" value="Snowing" />
            Snow</label>
        </div>
        </div>
    <div class="row">
        <div class="item">
            <label class='button'><input type="checkbox" value="Sleet, Hail" />
            Sleet or Hail</label>
        </div>
        <div class="item">
            <label class='button'><input type="checkbox" value="Fog, Smog" />
            Fog or Smog</label>
        </div>
    </div>
    <div class="row">
        <div class="item">
            <label class='button'><input type="checkbox" value="Severe Crosswinds" />
            Severe Wind</label>
        </div>
        <div class="item">
            <label class='button'><input type="checkbox" value="Blowing Sand, Soil, Dirt" />
            Blowing Sand, Soil, or Dirt</label>
        </div>
        </div>
    <div class="row">
        <div class="item">
            <label class='button'><input type="checkbox" value="Blowing Snow" />
            Blowing Snow</label>
        </div>
        <div class="item empty"></div>
     </div>
</div>
