<div>
    <h4><span class="label label-primary">Custom Range</span></h4>
    <div class="well well-sm form-group">
        <label for="${id}_from_date">From Date</label>
        <input data-dojo-attach-point="fromDateNode" type="date" class="form-control" id="${id}_from_date" placeholder="Select Range">
        <label for="${id}_to_date">To Date</label>
        <input data-dojo-attach-point="toDateNode" type="date" class="form-control" id="${id}_to_date" placeholder="Select Range">
    </div>
    <h4><span class="label label-default" style="cursor:pointer" data-dojo-attach-event="click:toggle">Show More</span></h4>
    <div data-dojo-attach-point="extraFiltersNode" class="hidden">
        <h4><span class="label label-primary">Days of the Week</span></h4>
        <div class="well well-sm form-group">
            <select data-dojo-attach-point="daysNode" multiple class="form-control" placeholder="Select Days">
                <option value="2">Monday</option>
                <option value="3">Tuesday</option>
                <option value="4">Wednesday</option>
                <option value="5">Thursday</option>
                <option value="6">Friday</option>
                <option value="7">Saturday</option>
                <option value="1">Sunday</option>
            </select>
        </div>
        <h4><span class="label label-primary">Time of Day</span></h4>
        <div class="well well-sm form-group">
            <label for="${id}_from_time">From Time</label>
            <input data-dojo-attach-point="fromTimeNode" type="time" class="form-control" id="${id}_from_time" placeholder="Select Range">
            <label for="${id}_to_time">To Time</label>
            <input data-dojo-attach-point="toTimeNode" type="time" class="form-control" id="${id}_to_time" placeholder="Select Range">
        </div>
    </div>
</div>
