<div>
    <div class='form-group'>
        <label>Route</label>
        <select class='form-control' data-dojo-attach-event='onchange: _gatherData' data-dojo-attach-point='routeNode'>
            <option value="" disabled selected>Select the route</option>
        </select>
    </div>
    <div class='form-group'>
        <label>Starting Milepost</label>
        <input class='form-control' data-dojo-attach-event='onchange: _gatherData' type='number' data-dojo-attach-point='startNode' placeholder='0' />
    </div>
    <div class='form-group'>
        <label>Ending Milepost</label>
        <input class='form-control' data-dojo-attach-event='onchange: _gatherData' type='number' data-dojo-attach-point='endNode' placeholder='0' />
    </div>
</div>