<div>
    <h3 class="text-center">Contributing Factors</h3>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Pedestrian</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Domestic Animal</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Wild Animal</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Bicycle</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Motorcycle</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Commercial Vehicle</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            DUI</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Teenage Driver</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Older Driver</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Intersection</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Night or Dark</label>
        </div>

        <div class="col">
            <label><input type="checkbox" />
            Overturn or Roll</label>
        </div>
    </div>
    <div class="row">
        <div class="col empty">

        </div>
        <div class="col">
            <label><input type="checkbox" />
            Improper Restraint</label>
        </div>

        <div class="col empty">

        </div>
    </div>
</div>
