<div>
    <div data-dojo-attach-point='titleNode' class='title'>
        <div class="title-item date">date</div>
        <div class="title-item spatial">spatial</div>
        <div class="title-item factors">factors</div>
        <div class="title-item severity">severity</div>
        <div class="title-item weather">weather</div>
    </div>
    <div data-dojo-attach-point='descriptionNode' class='description'>Contributing factors</div>
    <div data-dojo-attach-point='filterNode' class='filters'></div>
</div>
