<div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Clear</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Cloudy</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Rain</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Snow</label>
        </div>
        </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Sleet or Hail</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Fog or Smog</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Severe Wind</label>
        </div>
        <div class="col">
            <label><input type="checkbox" />
            Blowing Sand, Soil, or Dirt</label>
        </div>
        </div>
    <div class="row">
        <div class="col">
            <label><input type="checkbox" />
            Blowing Snow</label>
        </div>
        <div class="col empty"></div>
    </div>
</div>
