<div class="container-fluid hidden">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary Report</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">Contributing Factors</div>
                    <div class="ct-chart ct-perfect-fourth" id='factors'></div>
                </div>
            </div>
            <div class="row">    <div class="col-xs-12">
                    <div class="title">Weather</div>
                    <div class="ct-chart ct-perfect-fourth" id='weather'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">Driver Distraction</div>
                    <div class="ct-chart ct-perfect-fourth" id='distractions'></div>
                </div>
                </div>
            <div class="row"><div class="col-xs-12">
                    <div class="title">Road Condtions</div>
                    <div class="ct-chart ct-perfect-fourth" id='road'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">Days of the Week</div>
                    <div class="ct-chart ct-perfect-fourth" id='days'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="title">Time of the day</div>
                    <div class='ct-chart ct-perfect-fourth' id='time'></div>
                </div>
            </div>
        </div>
    </div>
</div>
