<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary Report</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Contributing Factors</div>
                    <div class="ct-chart ct-perfect-fourth" data-dojo-attach-point='report1Node'></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Weather</div>
                    <div class="ct-chart ct-perfect-fourth" data-dojo-attach-point='report2Node'></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Driver Distraction</div>
                    <div class="ct-chart ct-perfect-fourth" data-dojo-attach-point='report3Node'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Road Condtions</div>
                    <div class="ct-chart ct-perfect-fourth" data-dojo-attach-point='report4Node'></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Days of the Week</div>
                    <div class="ct-chart ct-perfect-fourth" data-dojo-attach-point='report5Node'></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="title">Time of the day</div>
                    <div class='ct-chart ct-perfect-fourth' data-dojo-attach-point='report6Node'></div>
                </div>
            </div>
        </div>
    </div>
</div>
